/*.container {
  display: flex;
  justify-content: center;
}


.item-display {
  flex-grow: 1;
}


button {
  border-radius: 4px;
  width: 150px;
  padding: 5px;
  height: 25px;
}


button:hover {
  background-color: dodgerblue;
}

button:click {
  background-color: red;
}


.input-field-title {
  text-align: left;
  height: 50px;
}


.input-field-body {
  font-size: 25px;
}*/

.container {
}

.entry {
}

.addition {
}

.add {
  background-color: #00d100;
}

.progress {
  height: 300px;
  width: 300px;
  background-color: #b09eb3;
}

.sort {
}

.in-store {
}

.finish {
}

.quick-note {
}

.quick {
}

.clear {
}

h3 {
  color: #009b00;
}

body {
  background-color: #b09eb3;
}

/*body {
  background-color: #b5c5b5;
}*/

