body {
  background-color: #c0b3c2;
  color: #002f3d;
}

h3 {
  color: #009b00;
}

.addition {
  font-size: 1.6rem;
  background-color: #e5f9ff;
  color: #002f3d;
}

.add {
  background-color: #009b00;
}

.progress {
  height: auto;
  width: 300px;
  font-size: 1.8rem;
  background-color: #c0b3c2;
  padding-left: 10px;
}

.quick {
  background-color: #e5f9ff;
  color: #002f3d;
}

.space_1 {
  height: 10px;
}

.space_2 {
  height: 200px;
}

.space_3 {
  height: 10px;
}

.space_4 {
  height: 30px;
}

.space_5 {
  height: 500px;
}

.space_6 {
  height: 10px;
}

.space_7 {
  height: 100px;
}

.space_8 {
  height: 10px;
}

.space_9 {
  height: 10px;
}